[submodule ".vim/pack/vendor/start/vim-bracketed-paste"]
	path = .vim/pack/vendor/start/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
